* {
  box-sizing: border-box;
}

html {
  --white: white;
  --color-gray-100: hsl(270deg 25% 96%);
  --color-gray-300: hsl(270deg 17% 84%);
  --color-gray-500: hsl(270deg 17% 72%);
  --color-gray-700: hsl(270deg 12% 58%);
  --color-gray-900: hsl(270deg 22% 12%);
  --color-gray-1000: hsl(270deg 20% 8%);
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.bottom-wrapper {
  background: var(--color-gray-1000);
  color: var(--color-gray-100);
  padding: 64px 32px;

  font-family: 'Raleway';
  line-height: normal;
}

footer {
  display: flex;
  justify-content: space-between;
  max-width: calc(1200 / 16 * 1rem);
  margin: 0 auto;
}

.meta {
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 2rem;
  margin-bottom: 16px;
  color: var(--white, #FFF);
  font-weight: 900;
}

.sublogo {
  color: var(--gray-500, #B8ADC2);
  font-style: italic;
  font-weight: 500;
}

.person-name {
  color: var(--gray-300, #D6CFDD);
  font-weight: 700;
}

.legal {
  margin-top: auto;
  color: var(--gray-700, #9487A1);
}

.links {
  display: flex;
  gap: 64px;
}

.links h2 {
  margin-bottom: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--gray-700, #9487A1);
  font-weight: 700;
}

.links li {
  margin: 16px 0;
}

.links li:last-of-type {
  margin-bottom: 0;
}

.links a {
  text-decoration: none;
  color: var(--gray-100, #F5F2F7);
  font-weight: 500;
  line-height: 200%;
}

main {
  flex: 1;
  /* Fake styles, just to stub it out */
  display: flex;
  justify-content: center;
  align-items: center;
}
